body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
  width: 100vw;
  width: 100svw;
  /* height: 100vh;
  height: 100svh; */
  background-color: #F1F1F1;
  h1 {
    text-align: center;
  }
}
